<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                      <h2 class="brand-logo text-center">
                        DOLI-P
                      </h2>
                        <h4>Hello! Please fill below details to reset password</h4>
                        <form [formGroup]="frmGrp" class="pt-3">
                            <div class="form-group">
                                <input [(ngModel)]="forgotPassModel.Email" formControlName="Email"
                                    [ngClass]="{'is-invalid': frmGrp.get('Email').touched && frmGrp.get('Email').invalid}"
                                    placeholder="Email Address" maxlength="100" type="text"
                                    class="form-control form-control-lg">
                                <label *ngIf="frmGrp.get('Email').touched && frmGrp.get('Email').errors?.required"
                                    class="text-danger">
                                    Please fill Email Address
                                </label>
                                <label
                                    *ngIf="(this.frmGrp.get('Email').hasError('email') && frmGrp.get('Email').touched)"
                                    class="text-danger">
                                    Invalid Email Address
                                </label>
                            </div>
                            <div class="mt-3">
                                <a href="javascript:void(0);" (click)="submitForgotPassDetail()"
                                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                    Send Password Reset Link
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
