<nav>
    <ul class="nav">
        <!-- <li class="nav-item {{(pageUrl.includes('/dashboard')) ? 'active' : ''}}"></li> -->
        <li class="nav-item {{(pageUrl=='/dashboard') ? 'active' : ''}}">
            <a class="nav-link " href="dashboard">
                <i class="mdi mdi-shield-check menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item {{(pageUrl=='/constants') ? 'active' : ''}}">
            <a class="nav-link " href="constants">
                <i class="mdi mdi-shield-check menu-icon"></i>
                <span class="menu-title">Constants</span>
            </a>
        </li>

        <li class="nav-item {{(pageUrl=='/user') ? 'active' : ''}}">
            <a class="nav-link " href="user">
                <i class="mdi mdi-shield-check menu-icon"></i>
                <span class="menu-title">User</span>
            </a>
        </li>

        <li class="nav-item">
            <a (click)="logout()" class="nav-link" href="javascript:void(0);">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>

    </ul>
</nav>